---
{% set rid = inventory_hostname | regex_replace('R', '') %}
router_id: {{ loopback_network | ansible.utils.ipaddr(rid) | ansible.utils.ipaddr('address') }}
ansible_host: {{ inventory_hostname }}.lan
summary_address: 10.{{ 10 * ( rid | int) }}.0.0/16