router bgp {{ local_asn }}
 bgp router-id {{ router_id }}
 bgp log-neighbor-changes
{% for interface in interfaces | selectattr('ebgp_enabled', 'defined') %}
 neighbor {{ interface.address | ansible.utils.ipaddr('peer') }} remote-as {{ interface.remote_asn | default(local_asn) }}
 neighbor {{ interface.address | ansible.utils.ipaddr('peer') }} update-source {{ interface.name }}
 neighbor {{ interface.address | ansible.utils.ipaddr('peer') }} description {{ interface.description }}
{% endfor%}
 !
 address-family ipv4
  redistribute connected
{% for interface in interfaces | selectattr('ebgp_enabled', 'defined') %}
  neighbor {{ interface.address | ansible.utils.ipaddr('peer') }} activate
  neighbor {{ interface.address | ansible.utils.ipaddr('peer') }} send-community both
  neighbor {{ interface.address | ansible.utils.ipaddr('peer') }} soft-reconfiguration inbound
{% endfor %}
  maximum-paths 2
