!###### Run this command after booting first time:
conf t
crypto key generate rsa mod 2048
end
!######
!
service timestamps debug datetime msec
service timestamps log datetime msec
no service password-encryption
!
hostname {{ inventory_hostname }}
!
ip cef
no ip domain-lookup
no ip icmp rate-limit unreachable
ip tcp synwait 5
no cdp log mismatch duplex
!
interface FastEthernet0/0
 ip address dhcp
 duplex full
 no shut
!
username {{ ansible_user }} privilege 15 secret {{ ansible_password }}
aaa new-model
!
aaa authentication login default local
!
aaa session-id common
!
line vty 0 5
 transport input all
 privilege level 15
!
line con 0
 exec-timeout 0 0
 logging synchronous
 privilege level 15
 no login
line aux 0
 exec-timeout 0 0
 logging synchronous
 privilege level 15
 no login
!
!
end
